body {
  margin: 2em;
}

.valoriInput {
  display: block;
  margin-bottom: 1em
}

.errore {
  letter-spacing: -0.2px;
  word-spacing: 2px;
  color: #FF0000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.results-outerContainer {
  display: inline-block;
  flex-basis: calc(560px * 999 - 100% * 999);
  margin: 1rem;
  max-width: 100%;
  min-width: calc((100% / 3) - (1rem * 2));
  text-align: center;
  font-weight: bold
}

.results-innerContainer {
  font-weight: normal;
  margin: 1em
}

.results-innerContainer > span:nth-child(-n+1) {
 color: rgb(161, 1, 1);
 font-weight: 400;
 display: block;
}

.results-innerContainer > span:nth-child(n+1) {
  display: block;
  font-weight: 500;
}



.tg td {
  background-color: #EBF5FF;
  border-color: #9ABAD9;
  border-style: solid;
  border-width: 1px;
  color: #444;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  background-color: #409cff;
  border-color: #9ABAD9;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
  color: rgb(48, 48, 48);
  font-weight: bold;
}